<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
      <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>\
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </head>
<body>

<div class="container">
  <h2>Employee Expenses</h2>
  <p>Showing all the expenses of employee of Cashcog</p>
  <p>Type something in the input field to search the table for first names, last names or emails:</p>
  <input class="form-control" id="myInput" type="text" placeholder="Search..">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>UUID</th>
        <th>Description</th>
        <th>Created At</th>
        <th>Amount</th>
        <th>Currency</th>
        <th>Employee Id</th>
        <th>Employee Name </th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody id="expensesTable">
      {% include "cashcog/table_row.html" %}
    </tbody>
  </table>
</div>
<script>
  $(document).ready(function(){
     $(".dropdown-toggle").dropdown();

     $("#myInput").on("keyup", function() {
        var value = $(this).val().toLowerCase();
        $("#expensesTable tr").filter(function() {
          $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
        });
      });

     $(".dropdown-menu").on("click", function(e) {
        console.log("target", e);
         $("#expensesTable").html("<div>Worked</div>");
         $.post("update-expense", {
            uuid: e.target.getAttribute("data-uuid"),
            status: e.target.getAttribute("value")
          }, function(data) {
            $(".status").html("<td>Approve</td>")
          });
     });
   });
</script>
</body>
</html>
