{% for user in users %}
<tr>
     <td>{{ user.fields.uuid }}</td>
     <td>{{ user.fields.description }}</td>
     <td>{{ user.fields.created_at }}</td>
     <td>{{ user.fields.amount }}</td>
     <td>{{ user.fields.currency }}</td>
     <td>{{ user.fields.employee_uuid}}</td>
     <td>{{user.fields.employee_first_name}} {{user.fields.employee_last_name}}</td>
     <!--<td>{{ user.fields.status }}</td>-->
     {% if user.fields.status == 0 %}
       <td class="status">
         <div class="dropdown">
           <button class="btn btn-default dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">Select
             <span class="caret"></span>
           </button>
           <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
             <!--<li role="presentation"><a role="menuitem" tabindex="-1" href="#">Waiting For Approval</a></li>-->
             <!--<li role="presentation" class="divider"></li>-->
             <li role="presentation">
               <a role="menuitem" tabindex="-1" href="#" value="1" data-uuid="{{user.fields.uuid}}">Approve</a></li>
             <li role="presentation"><a role="menuitem" tabindex="-1" href="#" value="2" data-uuid="{{user.fields.uuid}}">Decline</a></li>
           </ul>
         </div>
       </td>
     {% else %}
        <td></td>
     {% endif %}
</tr>
{% endfor %}